# DSCI 511: Data acquisition and pre-processing<br>Chapter 2: Working with Python's data types
## Exercises
Note: numberings refer to the main notes.

#### 2.1.1.6 Exercise: trace of a matrix

The trace of a (square) matrix (list of lists) is the sum of it's diagonal elements.
Loop over the matrix's rows and add up the diagonal values for the trace. We'll be working with the simple 3 x 3 matrix:
```
[[1, 2, 3],   
 [4, 5, 6],  
 [7, 8, 9]]
```

In [ ]:
matrix = [[4, 8, 4], 
          [3, 2, 6], 
          [5, 3, 7]] # print this matrix
# Hint: You'll need for loops!
trace = 0

## code here

print(trace)

#### 2.1.1.8 Exercise: Sorting lists

You might have noticed that the list `y` is a list containing the first 14 numbers in the Fibonacci sequence, i.e., any number can be calculated from the sum of the previous two numbers. 

Now, use a `for` loop to calculate the next 10 Fibonacci numbers and append them to list `y`.

In [ ]:
y = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144] # These are the first 13 numbers in the sequence
# Hint: You'll need to use list indices

## code here

#### 2.1.1.11 Exercise: Flattening a matrix into a list
Using either a nested comprehension or a nested for loop, conver the matrix below into a single list of values. Discuss how they become ordered, i.e., by column or row.

In [ ]:
## our starting matrix
matrix = [[8, 2, 3], [9, 1, 9], [5, 4, 1]]

flattened = []
## first try using nested loops
print(flattened)

## now try using nested comprehensions
## it can help to see the similarity 
## by blocking out a comprehensions
flattened = []
print(flattened)

#### 2.1.2.3 Exercise: tuple unpacking and list transformation
Use a list comprehension to create a list of all the author names from the given list of tuples containing title, author, and publication year.

In [ ]:
books = [("A Tale of Two Cities", "Charles Dickens", 1859), 
         ("Crime and Punishment", "Fyodor Dostoyevski", 1866),
         ("Heart of Darkness", "Joseph Conrad", 1899), 
         ("Brave New World", "Aldous Huxley", 1932), 
         ("The Stranger", "Albert Camus", 1942)]

# Dazzle yourself with your list comprehension skills!

#### 2.1.4.2 Exercise: functions review
Write your own basic version of the built-in `range()` function. It should take only one argument, the number before which the range should stop; and it should return a list containing all integers up to that end point.

In [ ]:
## code here

#### 2.1.4.4 Exercise: generator functions
Rewrite `my_range()` as a generator function and print out the first 25 integers using this generator function.

In [ ]:
## code here

#### 2.1.4.6 Exercise: lambda function data transformation for a sort
Sort this list of books in descending order of year of publication (i.e. the more recently published books should come first) using a lambda function with `sorted()`.

In [ ]:
books = [("A Tale of Two Cities", "Charles Dickens", 1859), 
         ("Crime and Punishment", "Fyodor Dostoyevski", 1866),
         ("Heart of Darkness", "Joseph Conrad", 1899), 
         ("Brave New World", "Aldous Huxley", 1932), 
         ("The Stranger", "Albert Camus", 1942)]

## code goes here

#### 2.2.2.4 Exercise: interacting with dictionaries
Write code that uses a loop to iterate over `books_dict` and create three separate lists of titles, authors, and years, populated by the correct values.

In [ ]:
books_dict = {0 : {"title" : "A Tale of Two Cities",
                   "author" : "Charles Dickens",
                   "year" : 1859},
             1 : {"title" : "Crime and Punishment",
                 "author" : "Fyodor Dostoyevski",
                 "year" : 1866},
             2 : {"title" : "Heart of Darkness",
                 "author" : "Joseph Conrad",
                 "year" : 1899},
             3 : {"title" : "Brave New World",
                 "author" : "Aldous Huxley",
                 "year" : 1932},
             4 : {"title" : "The Stranger",
                 "author" : "Albert Camus",
                 "year" : 1942}}

## code here

#### 2.2.2.6 Exercise: Counting with a base Python dictionary
Say we have a list of results of soccer games. There are three possibilities: win (W), loss (L), and draw (D). Count the number of wins, losses, and draws using the `counts` dictionary.

In [ ]:
results = ["W", "W", "L", "D", "W", "L", "L", "L", "W", 
           "D", "W", "W", "D", "W", "D", "L", "W", "W", "L", "W"]
counts = {}
## loop through results and count the number of times each occurred 
## use infullness: test to see a value needs to be assigned or modified
## use `.setdefault()` to make sure a starting value is assumed, i.e., pre-assigned

#### 2.2.2.7 Exercise: sorting a dictionary's keys by value
As discussed, default iteration on a dictionary is by key. This means a default `sorted()` call on a dictionary will return a sorting of the dictionary's keys. Use this, and the `key=lambda x: expression(x)` syntax to sort the dictionary from the exercise in __Section 2.2.2.6__ to sort the keys (game result types) of the `counts` dictionary by value, from high to low (`reverse = True`), and use a loop to print out the top 2 most common game result types and their counts.

In [ ]:
## use a lambda function in the `key` argument of sorted()

#### 2.2.2.9 Exercise: counters
Count the results and calculate a point tally, where a win equals 3 points, a draw equals 1 point, and a loss equals 0 points.

In [ ]:
from collections import Counter

vals = {"W": 3, "L": 0, "D": 1}

results = ["W", "W", "L", "D", "W", "L", "W", "D", "W", "L", "L", "W", "D", "W", "W", "L", "L", "W", "D", "W", "D", "L", "W", "W", "L", "W"]

## code here

## Additional In-depth Exercises

### A. Load a csv of your choosing and determine an appropriate data type

Load, e.g., `../introduction/data/APPL.csv` and convert to a dictionary of lists, or appropriate data type.

In [ ]:
## code here

### B. Transform an ordered array
Again, load your csv and this time sort by the open-close change in price, and then sorted, multiplying these changes by the volume as a weight.

In [ ]:
## code here

### C. Sort an associative array
Load `../introduction/data/colors.json` and sort colors according to the different RGB 'columns' and confirm if these are indeed heavily shades of blue!

In [ ]:
## code here

### D. Write a function to blend colors
Write a function that takes the data in `../introduction/data/colors.json`, and 'blends' colors by averaging the RGB values. The below cell should just let us check our work.

In [ ]:
## code here